amqp==2.5.2
anyio==3.4.0
asgiref==3.4.1
billiard==3.6.4.0
celery==4.4.2
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
fastapi==0.70.1
h11==0.12.0
idna==3.3
kombu==4.6.8
motor==2.5.1
prompt-toolkit==3.0.24
pydantic==1.8.2
pymongo==3.12.3
pytz==2021.3
requests==2.26.0
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing-extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
vine==1.3.0
wcwidth==0.2.5
